body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
   margin: 0;
  padding: 20px;
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #28a745;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s;
}

button:hover {
  background-color: #218838;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th {
  background-color: #1f1f1f;
}

td {
  background-color: #1a1a1a;
}

.selecionado {
  background-color: #dc3545;
}